<div class="flex-container">
    <img src="/assets/img/burger.png" style="width: 150px;">
</div>
<div class="flex-container">
    <h2>Eat-Da-Burger!</h2>
</div>

<div class="flex-container">
    <div>
        <h2>Burgers you can haz!</h2>
        <ul>
            {{#each burgers}}
            {{#unless devour}}
            <li>{{id}} {{name}}
                <button class="devour" data-id="{{this.id}}">Devour!</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div>
        <h2>Burgers you devoured!</h2>

        <ul>
            {{#each burgers}}
            {{#if devour}}
            <li>{{id}} {{name}}</li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="flex-container">
    <h2>Add a burger</h2>
</div>
<div class="flex-container">
    <form class="create-form">

        <div class="form-group">
            <label for="ca">Burger type:</label>
            <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </form>

</div>